# ========================
# Build Artifacts
# ========================
bin/
bin-int/
build/
out/

# ========================
# Visual Studio
# ========================
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.csproj
*.csproj.user
*.user
*.suo
*.ncb
*.opendb
*.VC.db
*.VC.VC.opendb
*.vs/
.vscode/

# ========================
# Dependencies
# ========================
Dependencies/

# ========================
# Platform-specific build folders
# ========================
Clever_Engine/x64/
SpellGame/x64/

# ========================
# Compiled Objects
# ========================
*.obj
*.pdb
*.exe
*.dll
*.lib
*.app
*.so
*.dylib

# ========================
# Logs and Temp Files
# ========================
*.log
*.cache
*.tmp
*.bak
*.swp

# ========================
# Documentation (Doxygen)
# ========================
Docs/

# ========================
# OS-specific
# ========================
# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
*~
Clever_Engine/Clever_Engine.vcxproj
SpellGame/SpellGame.vcxproj
SpellGame/SpellGame.vcxproj
Clever_Engine/Clever_Engine.vcxproj.filters
